* {
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #172F45;
    
}

header {
    display: block;
    position: fixed;
    z-index: 1;
    width: 100vw;
    background-color: #A0C1DF;
    background-color: #5eaaf1;
    margin-bottom: 40px;
}

header #itemsCabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0 40px 0 40px;
}

header .searchDiv{
    display: flex;
    box-sizing: border-box;
    border: none;
    height: 30px;
}
header #searchInput{
    text-align: center;
    border: none;
    color: black;
    
}
input:focus {
    outline:none;
}
header #searchBtn{
    cursor: pointer;
    text-align: center;
    width: 100px;
    background-color: rebeccapurple;
    border: none;
}
header #searchBtn:hover{
    transition: 300ms;

    background-color: orange;
}


header #imgheader img {
   width: 56px;
   height: 56px;  
  
}

header ul {
    display: flex;
    list-style: none;
}

header ul li {
    padding-right: 10px;
}

header ul li a{
    transition: 300ms;
}

header ul li a:hover{
    color: violet; 
}

main{
    display: flex;
    position: relative;
    padding-left: 6vw;
    top: 20vh;
    z-index: 0;
}

#userPhoto{
    margin-left: 30px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25),
    -5px -5px 10px rgba(255, 255, 255, 0.1);
}

main .status{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    
}

main .status .img_status{
    height: 20vh;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25),
    -5px -5px 10px rgba(104, 218, 253, 0.1);
}

main .status #espaco{
    padding: 0 10px 0 10px;
}

section{
    width: 70vw;
}

aside{
    margin-right: 5px;
    height: 80vh;
    width: 40vw;
    overflow-y: scroll;
}

aside ul li img{
    border: 5px solid #5eaaf100;
    
}

aside ul li img:hover{
    border: 5px solid #5eaaf1;
    border-radius: 8px;
    transition-delay: 0.1s;
    transition-duration: 0.3s;
    
}
.container .name h1 {
    font-size: 60px;
    
}

h1::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
h1:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

h1::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: #5eaaf1;
    z-index: -1;
    transition: transform .3s ease;
}

h1 {
    position: relative;
    font-size: 5rem;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #5eaaf1;
    border-radius: 10px;
  }